In [5]:
from pandas import read_excel
my_sheet = 'Data'
file_name = 'FileInput.xlsx'
df = read_excel(file_name, sheet_name = my_sheet)

In [18]:
print(df[['Outlet ID','Brand Name','Sales Value']])

          Outlet ID Brand Name  Sales Value
0          Outlet 1    Brand 1     395.6906
1          Outlet 1    Brand 1     395.6906
2          Outlet 1    Brand 2     724.9328
3          Outlet 1    Brand 3     150.0466
4          Outlet 1    Brand 3     300.0932
...             ...        ...          ...
25468  Outlet 23559    Brand 3     150.0466
25469  Outlet 23560    Brand 1     395.6906
25470  Outlet 23560    Brand 3     300.0932
25471  Outlet 23561    Brand 1     395.6906
25472  Outlet 23561    Brand 3     150.0466

[25473 rows x 3 columns]

In [22]:
dups = df.pivot_table(index = ['Outlet ID'], aggfunc ='size').reset_index().\
    rename(columns={0:'records'})
print(dups)

        Outlet ID  records
0        Outlet 1        6
1       Outlet 10        4
2      Outlet 100        3
3     Outlet 1000        9
4     Outlet 1001        5
...           ...      ...
5806   Outlet 995        6
5807   Outlet 996        9
5808   Outlet 997        6
5809   Outlet 998        6
5810   Outlet 999        9

[5811 rows x 2 columns]

In [68]:
Sum=0
count=[]
for i in range(9):
    count.append(0)
sale=[]
for i in range(9):
    sale.append(0)
for i in range(len(dups)) :
    if (dups.loc[i, "records"]) == 1:
        count[0]+=1
        sale[0]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 2:
        count[1]+=1
        sale[1]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 3:
        count[2]+=1
        sale[2]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 4:
        count[3]+=1
        sale[3]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 5:
        count[4]+=1
        sale[4]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 6:
        count[5]+=1
        sale[5]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 7:
        count[6]+=1
        sale[6]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 8:
        count[7]+=1
        sale[7]+=df.loc[i, "Sales Value"]
    elif (dups.loc[i, "records"]) == 9:
        count[8]+=1
        sale[8]+=df.loc[i, "Sales Value"]
    else:
        pass
print("Countlist", count)
print("Salelist", sale)

Countlist [818, 717, 1210, 744, 489, 468, 344, 235, 786]
Salelist [799582.2003999981, 689621.0221999995, 1205766.7800000017, 671960.1807999986, 429595.5282000003, 436455.1652000005, 317347.8232000005, 226792.74740000017, 726248.9763999989]

In [69]:
question=['Outlets purchased once','Outlets purchased 2times','Outlets purchased 3times','Outlets purchased 4times','Outlets purchased 5times','Outlets purchased 6times','Outlets purchased 7times','Outlets purchased 8times','Outlets purchased 9times']

In [74]:
import csv
df1 = pd.DataFrame()
df1["Details"]=question
df1["Number of outlets"]=count
df1["total Sales Values"]=sale
# Converting to excel
df1.to_excel('result.xlsx', index = False)

#with open('Answer.csv', 'w') as f:
#    writer = csv.writer(f)
#    writer.writerows(zip(question, count, sale))